@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* Smooth scrolling and hidden scrollbars */
.main-content {
    height: auto;
    overflow-y: visible;
}

@media (min-width: 1024px) {
    .main-content {
        height: calc(100vh - 76px);
        overflow-y: auto;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}